<section class="py-20 space-y-10 w-full max-w-2xl mx-auto">

  <div class="text-center space-y-2">
    <h3 class="text-2xl md:text-3xl font-semibold text-gray-900">Tus preguntas, las respondemos</h3>
    <p class="text-gray-600 text-sm">Respuestas a las preguntas más frecuentes.</p>
  </div>

  <!-- Accordion -->
  <div class="hs-accordion-group">

    <div class="hs-accordion active hs-accordion-active:bg-gray-100 rounded-xl px-7 py-5" id="hs-basic-heading-one">
      <button
        class="hs-accordion-toggle py-3 inline-flex text-start max-sm:text-sm items-center justify-between gap-x-5 w-full focus:outline-hidden"
        aria-expanded="true" aria-controls="hs-basic-collapse-one">
        <p class="text-gray-900 font-semibold">¿Puedo cancelar en cualquier momento?</p>
        <lucide-icon [name]="ChevronUp" class="hs-accordion-active:block hidden size-5.5" />
        <lucide-icon [name]="ChevronDown" class="hs-accordion-active:hidden block size-5.5" />
      </button>
      <div id="hs-basic-collapse-one"
        class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-one">
        <p class="text-gray-900 text-start max-sm:text-sm">
          Sí, puede cancelar en cualquier momento sin que se le hagan preguntas, pero le agradeceríamos mucho que nos diera su opinión.
        </p>
      </div>
    </div>

    <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl px-7 py-5" id="hs-basic-heading-two">
      <button
        class="hs-accordion-toggle py-3 inline-flex text-start max-sm:text-sm items-center justify-between gap-x-5 w-full focus:outline-hidden"
        aria-expanded="false" aria-controls="hs-basic-collapse-two">
        <p class="text-gray-900 font-semibold">Mi equipo tiene créditos. ¿Cómo los utilizamos?</p>
        <lucide-icon [name]="ChevronUp" class="hs-accordion-active:block hidden size-5.5" />
        <lucide-icon [name]="ChevronDown" class="hs-accordion-active:hidden block size-5.5" />
      </button>
      <div id="hs-basic-collapse-two"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-two">
        <p class="text-gray-900 text-start max-sm:text-sm">
          Una vez que tu equipo se haya suscrito a un plan de suscripción, nos sentaremos, tomaremos un café y concretaremos los detalles.
        </p>
      </div>
    </div>

    <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl px-7 py-5" id="hs-basic-heading-three">
      <button
        class="hs-accordion-toggle py-3 inline-flex text-start max-sm:text-sm items-center justify-between gap-x-5 w-full focus:outline-hidden"
        aria-expanded="false" aria-controls="hs-basic-collapse-three">
        <p class="text-gray-900 font-semibold">¿Cómo funciona el sistema de precios de Escapify?</p>
        <lucide-icon [name]="ChevronUp" class="hs-accordion-active:block hidden size-5.5" />
        <lucide-icon [name]="ChevronDown" class="hs-accordion-active:hidden block size-5.5" />
      </button>
      <div id="hs-basic-collapse-three"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-three">
        <p class="text-gray-900 text-start max-sm:text-sm">
          Nuestras suscripciones son por niveles. Es fundamental comprender la tarea que hay que realizar y resolver los problemas que puedan surgir.
        </p>
      </div>
    </div>

    <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl px-7 py-5" id="hs-basic-heading-four">
      <button
        class="hs-accordion-toggle py-3 inline-flex text-start max-sm:text-sm items-center justify-between gap-x-5 w-full focus:outline-hidden"
        aria-expanded="false" aria-controls="hs-basic-collapse-four">
        <p class="text-gray-900 font-semibold">¿Qué grado de seguridad ofrece Escapify?</p>
        <lucide-icon [name]="ChevronUp" class="hs-accordion-active:block hidden size-5.5" />
        <lucide-icon [name]="ChevronDown" class="hs-accordion-active:hidden block size-5.5" />
      </button>
      <div id="hs-basic-collapse-four"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-four">
        <p class="text-gray-900 text-start max-sm:text-sm">
          Proteger los datos que usted confía a Escapify es nuestra máxima prioridad. Esta parte es realmente crucial para mantener el proyecto en marcha hasta su finalización.
        </p>
      </div>
    </div>

    <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl px-7 py-5" id="hs-basic-heading-five">
      <button
        class="hs-accordion-toggle py-3 inline-flex text-start max-sm:text-sm items-center justify-between gap-x-5 w-full focus:outline-hidden"
        aria-expanded="false" aria-controls="hs-basic-collapse-five">
        <p class="text-gray-900 font-semibold">¿Cómo puedo acceder a un tema que he comprado?</p>
        <lucide-icon [name]="ChevronUp" class="hs-accordion-active:block hidden size-5.5" />
        <lucide-icon [name]="ChevronDown" class="hs-accordion-active:hidden block size-5.5" />
      </button>
      <div id="hs-basic-collapse-five"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-five">
        <p class="text-gray-900 text-start max-sm:text-sm">
          Si pierdes el enlace de un tema que has comprado, ¡no te preocupes! Nosotros te ayudamos. Puedes iniciar sesión en tu cuenta, pulsar tu avatar en la esquina superior derecha y pulsar Compras. Si no has creado una cuenta o no recuerdas la información, puedes utilizar nuestra práctica página de descargas, solo recuerda utilizar el mismo correo electrónico con el que realizaste la compra originalmente.
        </p>
      </div>
    </div>

    <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl px-7 py-5" id="hs-basic-heading-six">
      <button
        class="hs-accordion-toggle py-3 inline-flex text-start max-sm:text-sm items-center justify-between gap-x-5 w-full focus:outline-hidden"
        aria-expanded="false" aria-controls="hs-basic-collapse-six">
        <p class="text-gray-900 font-semibold">Actualizar el tipo de licencia</p>
        <lucide-icon [name]="ChevronUp" class="hs-accordion-active:block hidden size-5.5" />
        <lucide-icon [name]="ChevronDown" class="hs-accordion-active:hidden block size-5.5" />
      </button>
      <div id="hs-basic-collapse-six"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-six">
        <p class="text-gray-900 text-start max-sm:text-sm">
          Es posible que en ocasiones necesite actualizar su licencia desde el tipo original que adquirió, y tenemos una solución que le garantiza que podrá aplicar el coste de su compra original a la adquisición de la nueva licencia.
        </p>
      </div>
    </div>
  </div>
</section>
