<section class="pb-20">

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5">
    <a
      *ngFor="let client of clients"
      class="relative h-48 sm:h-52 bg-white rounded-2xl border border-gray-200 hover:shadow-xs hover:bg-gray-100 group"
      href="/">

      <div class="w-full before:absolute before:size-full before:bg-[radial-gradient(var(--color-gray-300)_1px,transparent_1px)] before:bg-[size:20px_20px]"></div>

      <div class="absolute inset-0  flex flex-col items-center justify-center p-5 h-full">
        <div class="h-12 mb-3 translate-y-3 group-hover:-translate-y-3 transition-transform duration-300">
          <img src="{{ client.imageUrl }}" alt="{{ client.name }}" class="h-full object-contain">
        </div>

        <p class="text-sm text-gray-900 text-center translate-y-3 group-hover:-translate-y-3 transition-transform duration-300">{{ client.description }}</p>

        <a href="/" class="opacity-0 group-hover:opacity-100 group-hover:translate-y-1 transition-all duration-300">
          <span class="text-sm text-primary underline underline-offset-4">Leer más</span>
        </a>
      </div>

    </a>
  </div>

</section>
