<!-- Review -->
<div class="w-full grid sm:grid-cols-3 py-10 gap-x-5 gap-y-10">
  <div class="flex flex-col items-center justify-center gap-y-3">
    <p class="text-3xl font-semibold text-gray-900">4.7</p>
    <div class="flex items-center ">
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
    </div>
    <p class="text-gray-600 text-sm text-center">Valoración media en Capterra, sitio web independiente de reseñas.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt=""
      class="w-full h-8 object-contain mt-3" />
  </div>
  <div class="flex flex-col items-center justify-center gap-y-3">
    <p class="text-3xl font-semibold text-gray-900">4.7</p>
    <div class="flex items-center ">
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
    </div>
    <p class="text-gray-600 text-sm text-center">Valoración media en Capterra, sitio web independiente de reseñas.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt=""
      class="w-full h-8 object-contain mt-3" />
  </div>
  <div class="flex flex-col items-center justify-center gap-y-3">
    <p class="text-3xl font-semibold text-gray-900">4.7</p>
    <div class="flex items-center ">
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
      <lucide-icon [name]="Star" class="size-7 fill-primary stroke-0" />
    </div>
    <p class="text-gray-600 text-sm text-center">Valoración media en Capterra, sitio web independiente de reseñas.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt=""
      class="w-full h-8 object-contain mt-3" />
  </div>
</div>
