<section class="flex items-center max-sm:justify-end justify-between gap-x-10">

  <!-- Resultados -->
  <p class="text-sm max-sm:hidden">{{ numberOfElements }} de {{ totalElements }} resultados</p>

  <!-- Paginacion -->
  <div class="flex items-center">
    <button (click)="goToPage(page - 1)" [hidden]="page === 0"
      class="rounded-full flex items-center justify-center w-8 h-8 hover:bg-gray-100 hover:text-black text-sm font-semibold">
      <lucide-icon [name]="ChevronLeft" class="size-4" />
    </button>

    <!-- <button class="rounded-full flex items-center justify-center w-8 h-8 bg-primary text-white text-sm font-semibold">
      1
    </button>
    <button class="rounded-full flex items-center justify-center w-8 h-8 hover:bg-gray-100 text-sm">
      2
    </button>
    <button class="rounded-full flex items-center justify-center w-8 h-8 hover:bg-gray-100 text-sm">
      3
    </button>
    <div class="rounded-full flex items-center justify-center w-8 h-8">
      <lucide-icon [name]="ElipsisIcon" class="size-4" />
    </div>
    <button class="rounded-full flex items-center justify-center w-8 h-8 hover:bg-gray-100 text-sm">
      30
    </button> -->

    <!-- Si hay 4 páginas o menos -->
    <ng-container *ngIf="totalPages <= 4">
      <ng-container *ngFor="let i of [].constructor(totalPages); let idx = index">
        <button (click)="goToPage(idx)"
          [ngClass]="{'bg-primary text-white': page === idx, 'hover:bg-gray-100': page !== idx}"
          class="rounded-full flex items-center justify-center w-8 h-8 text-sm font-semibold">
          {{ idx + 1 }}
        </button>
      </ng-container>
    </ng-container>

    <!-- Si hay más de 4 páginas -->
    <ng-container *ngIf="totalPages > 4">
      <!-- Primeras páginas -->
      <ng-container *ngIf="page < totalPages - 2">
        <ng-container *ngFor="let idx of [page, page + 1, page + 2]">
          <button (click)="goToPage(idx)"
            [ngClass]="{'bg-primary text-white': page === idx, 'hover:bg-gray-100': page !== idx}"
            class="rounded-full flex items-center justify-center w-8 h-8 text-sm font-semibold">
            {{ idx + 1 }}
          </button>
        </ng-container>
        <div class="rounded-full flex items-center justify-center w-8 h-8">
          <lucide-icon [name]="ElipsisIcon" class="size-4" />
        </div>
      </ng-container>
      <!-- Últimas páginas -->
      <ng-container *ngIf="page >= totalPages - 2">
        <div class="rounded-full flex items-center justify-center w-8 h-8">
          <lucide-icon [name]="ElipsisIcon" class="size-4" />
        </div>
        <ng-container *ngFor="let idx of [totalPages - 3, totalPages - 2, totalPages - 1]">
          <button (click)="goToPage(idx)"
            [ngClass]="{'bg-primary text-white': page === idx, 'hover:bg-gray-100': page !== idx}"
            class="rounded-full flex items-center justify-center w-8 h-8 text-sm font-semibold">
            {{ idx + 1 }}
          </button>
        </ng-container>
      </ng-container>
    </ng-container>

    <button (click)="goToPage(page + 1)" [hidden]="page === totalPages - 1"
      class="rounded-full flex items-center justify-center w-8 h-8 hover:bg-gray-100 text-sm">
      <lucide-icon [name]="ChevronRight" class="size-4" />
    </button>
  </div>

</section>
