<section class="rounded-xl border border-gray-200 p-5 pb-7 shadow">
  <div class="space-y-3">
    <div class="bg-primary w-full h-36 rounded-lg"></div>
    <div class="relative bg-gray-100 rounded-full w-32 h-32 border-4 border-white -mt-24 mx-auto">
      <img class="size-full bg-gray-100 rounded-full object-cover" src="/img/logo-min.png" alt="Company Logo">
      <div class="bg-purple-600 rounded-full w-8 h-8 absolute bottom-0 end-0 flex items-center justify-center">
        <lucide-icon [name]="Crown" class="size-4.5 text-white" />
      </div>
    </div>
    <div class="flex flex-col items-center mx-auto w-fit">
      <h2 class="font-medium text-lg">Escapify</h2>
      <p class="text-gray-500 text-sm">Tecnología</p>
    </div>
    <div class="w-full flex items-center gap-x-3">
      <button class="relative flex items-center gap-x-1.5 px-2 py-1.5 rounded-lg">
        <lucide-icon [name]="List" class="size-4.5 stroke-[1.5]" />
        <p class="text-sm font-medium">General</p>
        <span class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-[30%] h-[2.5px] bg-gray-800 rounded-full"></span>
      </button>
      <button class="relative flex items-center gap-x-1.5 px-2 py-1.5 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-black">
        <lucide-icon [name]="Crown" class="size-4.5 stroke-[1.5]" />
        <p class="text-sm">Suscripción</p>
        <span class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-[30%] h-[2.5px] bg-transparent rounded-full"></span>
      </button>
      <button class="relative flex items-center gap-x-1.5 px-2 py-1.5 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-black">
        <lucide-icon [name]="MapPin" class="size-4.5 stroke-[1.5]" />
        <p class="text-sm">Sucursales</p>
        <span class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-[30%] h-[2.5px] bg-transparent rounded-full"></span>
      </button>
      <button class="relative flex items-center gap-x-1.5 px-2 py-1.5 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-black">
        <lucide-icon [name]="ClipboardCheck" class="size-4.5 stroke-[1.5]" />
        <p class="text-sm">Auditoría</p>
        <span class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-[30%] h-[2.5px] bg-transparent rounded-full"></span>
      </button>

      <div class="w-full flex items-center justify-end">
        <button class="px-3 py-1.5 bg-primary text-white font-medium text-sm rounded-lg">
          <p>Empresa Activa</p>
        </button>
      </div>
    </div>
  </div>
</section>

<div class="mt-5">
  <component-core-company-details-general />
</div>

