<section class="w-full py-10 bg-[url('/img/bg-demo.webp')] bg-cover bg-center">

  <div class="w-full max-w-[70rem] mx-auto px-5">
    <component-customer-home-hero />
    <component-customer-home-demo />
  </div>

</section>


<section class="w-full py-10">

  <div class="w-full max-w-[70rem] mx-auto px-5">
    <component-customer-home-review />
    <component-customer-home-services />
    <component-customer-home-features />
    <component-customer-home-clients />
    <div #preguntasFrecuentes id="preguntas-frecuentes">
      <component-customer-home-questions />
    </div>
    <component-customer-home-eslogan />
  </div>

</section>
