<footer class="w-full py-10">
  <div class="w-full max-w-[70rem] mx-auto px-5">

    <!-- Links and social media -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-y-10 gap-x-5 md:gap-x-10">

      <article class="text-sm flex flex-col gap-y-3">
        <h3 class="font-semibold text-gray-900 mb-3">Empresa</h3>
        <a href="/" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Sobre Escapify</a>
        <a href="/servicios" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Servicios</a>
        <a href="/precios" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Precios</a>
        <a href="/clientes" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Clientes</a>
        <a href="/afiliados" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Afiliados: Obten beneficios</a>
      </article>

      <article class="text-sm flex flex-col gap-y-3">
        <h3 class="font-semibold text-gray-900 mb-3">Servicio al cliente</h3>
        <a href="/contactanos" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Contáctanos</a>
        <a href="/politicas" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Política de devoluciones y reembolsos</a>
        <a href="/politicas" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Política de afiliados</a>
        <a href="/reportar-actividad" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Reportar actividad sospechosa</a>
      </article>

      <article class="text-sm flex flex-col gap-y-3">
        <h3 class="font-semibold text-gray-900 mb-3">Ayuda</h3>
        <a href="#preguntas-frecuentes" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Preguntas frecuentes</a>
        <a href="/politicas" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Centro de seguridad</a>
        <a href="/reportar-actividad" class="text-gray-600 hover:text-gray-900 hover:underline w-fit">Protección de compras</a>
      </article>

      <article class="text-sm flex flex-col gap-y-3">
        <h3 class="font-semibold text-gray-900 mb-3">Descarga la app</h3>

        <a href="" class="flex gap-x-2 lg:gap-x-3 rounded-xl py-3 px-3 lg:px-5 pr-8 w-fit bg-white border border-gray-200 hover:border-gray-300 hover:shadow-xs">
          <img src="https://cdn-icons-png.flaticon.com/512/15/15476.png" alt="Logo App Store" class="size-5 lg:size-6 object-contain">
          <div class="flex flex-col">
            <p class="leading-none text-gray-600 text-[10px] truncate">Disponible en la</p>
            <p class="leading-none text-gray-900 font-semibold text-xs lg:text-sm">App Store</p>
          </div>
        </a>

        <a href="" class="flex gap-x-2 lg:gap-x-3 rounded-xl py-3 px-3 lg:px-5 pr-8 w-fit bg-white border border-gray-200 hover:border-gray-300 hover:shadow-xs">
          <img src="https://img.icons8.com/fluent/600/google-play-store-new.png" alt="Logo Google Play" class="size-5 lg:size-6 object-contain">
          <div class="flex flex-col">
            <p class="leading-none text-gray-600 text-[10px] truncate">Disponible en la</p>
            <p class="leading-none text-gray-900 font-semibold text-xs lg:text-sm">Google Play</p>
          </div>
        </a>
      </article>
    </div>

    <!-- Privacy and terms -->
    <div class="flex flex-wrap max-sm:justify-center items-center gap-x-3 gap-y-2 mt-10">
      <a href="/" class="text-xs text-gray-500 hover:underline hover:text-gray-900 text-nowrap">© 2025 Escape Code.</a>
      <div class="rounded-full size-1 bg-gray-600"></div>
      <a href="/terminos" class="text-xs text-gray-500 hover:underline hover:text-gray-900 text-nowrap">Términos y Condiciones.</a>
      <div class="rounded-full size-1 bg-gray-600"></div>
      <a href="/politica" class="text-xs text-gray-600 hover:underline hover:text-gray-900 text-nowrap">Política de privacidad.</a>
    </div>

  </div>
</footer>
