
<section class="space-y-10 py-20">
  <h2 class="text-center text-gray-600">Empresas que confían</h2>

  <div class="relative overflow-hidden">
    <div class="pointer-events-none absolute inset-y-0 start-0 z-10 w-20 h-full bg-gradient-to-r from-white to-transparent"></div>
    <div class="pointer-events-none absolute inset-y-0 end-0 z-10 w-20 h-full bg-gradient-to-l from-white to-transparent"></div>

    <div class="whitespace-nowrap animate-scroll flex gap-x-20">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSag1zcuLzitqTEo9QkQl0PSlnb2vwUeuHLgQ&s" alt="" class="w-auto h-10" />
    </div>
  </div>
</section>


<style>

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 10s linear infinite;
  }
}
</style>
