<div class="grid gap-5">
  <section class="p-5 rounded-xl border border-gray-200 shadow space-y-5">
    <div class="grid grid-cols-[auto_1fr] sm:grid-cols-[auto_1fr_auto] gap-x-3 items-center gap-y-5">
      <img
        class="w-16 h-16 rounded-full object-cover"
        src="http://localhost:4200/img/logo-min.png"
        alt="Logo de la empresa"
      />
      <div class="space-y-1 sm:space-y-0.5">
        <div class="flex items-center gap-x-3">
          <h2 class="font-medium">Escapify</h2>
          <span class="sm:hidden text-xs text-white px-2 py-1.5 rounded-full bg-primary leading-none font-medium">Activa</span>
        </div>
        <button class="flex text-gray-600 items-center text-start gap-x-2 hover:text-black">
          <p class="text-sm line-clamp-1">ID: 0b6a7a5f-f821-4ae0-9ef2-ea45748dbc23</p>
          <lucide-icon [name]="Copy" class="size-4" />
        </button>
      </div>
      <button class="max-sm:hidden w-fit text-nowrap px-3 py-2 text-[13px] font-medium rounded-lg bg-primary hover:bg-primary-dark text-white">
        Empresa activa
      </button>
    </div>

    <div class="py-5 border-t border-gray-200">
      <h2 class="font-medium">Descripción</h2>
      <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
    </div>
  </section>
</div>
