<div class="grid lg:grid-cols-[auto_1fr] gap-5">
  <section
    class="rounded-xl lg:w-sm xl:w-md border border-gray-200 p-5 space-y-5 shadow"
  >
    <h2 class="font-medium text-sm">Información de Contacto</h2>
    <div class="space-y-2.5">
      <div class="flex items-center gap-x-3 text-gray-700">
        <lucide-icon [img]="Mail" class="size-4 stroke-[1.5]" />
        <p class="text-sm">escapify&#64;gmail.com</p>
      </div>
      <div class="flex items-center gap-x-3 text-gray-700">
        <lucide-icon [img]="Phone" class="size-4 stroke-[1.5]" />
        <p class="text-sm">+51 936245721</p>
      </div>
      <div class="flex items-center gap-x-3 text-gray-700">
        <lucide-icon [img]="Globe" class="size-4 stroke-[1.5]" />
        <p class="text-sm">https://escapify.com</p>
      </div>
    </div>
  </section>
  <section class="rounded-xl w-full border border-gray-200 p-5 items-start shadow">
    <h2 class="font-medium text-sm">Información General</h2>
    <div class="text-sm flex items-center gap-x-2.5 mt-5">
      <p class="text-gray-700">Nombre:</p>
      <p>Escapify</p>
    </div>
    <div class="text-sm flex items-center gap-x-2.5 mt-2.5">
      <p class="text-gray-700">Tag:</p>
      <p>Tecnología</p>
    </div>
    <div class="text-sm flex items-center gap-x-2.5 mt-2.5">
      <p class="text-gray-700">País:</p>
      <img class="h-3.5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Flag_of_Peru.svg/1200px-Flag_of_Peru.svg.png" alt="">
      <p>Perú</p>
    </div>
    <div class="text-sm flex items-center gap-x-2.5 mt-2.5">
      <p class="text-gray-700">Moneda:</p>
      <p>S/. (PEN)</p>
    </div>
    <div class="text-sm flex items-center mt-2.5">
      <p class="text-gray-700">
        Descripción:
        <span class="text-black text-balance ml-2.5"
          >Empresa de tecnología que se dedica a la creación de software para la
          gestión de empresas.</span
        >
      </p>
    </div>
  </section>
</div>
