<section class="pt-32">

  <div class="space-y-3 text-center max-w-xl mx-auto px-5">
    <p class="text-gray-600">Desde principiantes hasta expertos</p>
    <h3 class="text-2xl md:text-3xl font-semibold text-gray-900">Aprende a desarrollar sitios web con componentes y sistemas de diseño.</h3>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-x-10 gap-y-16 md:gap-x-20 py-20">
    <article class="grid gap-y-4">
      <lucide-icon [name]="BrainCircuit" class="size-8 stroke-[1.5] text-primary"/>
      <h4 class="font-semibold text-gray-900 max-sm:text-sm">Más creatividad</h4>
      <p class="text-gray-600 text-sm">Aquí es donde realmente comenzamos a visualizar tus bocetos en servilletas y los convertimos en hermosos píxeles.</p>
      <a href="" class="text-sm text-primary underline underline-offset-4 hover:text-primary-dark">Más información sobre Creatividad</a>
    </article>

    <article class="grid gap-y-4">
      <lucide-icon [name]="HandCoins" class="size-8 stroke-[1.5] text-primary"/>
      <h4 class="font-semibold text-gray-900 max-sm:text-sm">Escala los presupuestos de manera eficiente</h4>
      <p class="text-gray-600 text-sm">Ahora que hemos alineado los detalles, es hora de planificar y organizar todo.</p>
      <a href="" class="text-sm text-primary underline underline-offset-4 hover:text-primary-dark">Más información sobre Eficiencia</a>
    </article>

    <article class="grid gap-y-4">
      <lucide-icon [name]="ChartPie" class="size-8 stroke-[1.5] text-primary"/>
      <h4 class="font-semibold text-gray-900 max-sm:text-sm">Paneles inteligentes</h4>
      <p class="text-gray-600 text-sm">Aquí es donde realmente comenzamos a visualizar tus bocetos en servilletas y los convertimos en hermosos píxeles.</p>
      <a href="" class="text-sm text-primary underline underline-offset-4 hover:text-primary-dark">Más información sobre Dashboard</a>
    </article>

    <article class="grid gap-y-4">
      <lucide-icon [name]="MonitorCog" class="size-8 stroke-[1.5] text-primary"/>
      <h4 class="font-semibold text-gray-900 max-sm:text-sm">Centro de control</h4>
      <p class="text-gray-600 text-sm">Ahora que hemos alineado los detalles, es hora de planificar y organizar todo.</p>
      <a href="" class="text-sm text-primary underline underline-offset-4 hover:text-primary-dark">Más información sobre Control</a>
    </article>

    <article class="grid gap-y-4">
      <lucide-icon [name]="Mails" class="size-8 stroke-[1.5] text-primary"/>
      <h4 class="font-semibold text-gray-900 max-sm:text-sm">Informes por Email</h4>
      <p class="text-gray-600 text-sm">Nos esforzamos por adoptar e impulsar el cambio en nuestro sector, lo que nos permite mantener la relevancia de nuestros clientes.</p>
      <a href="" class="text-sm text-primary underline underline-offset-4 hover:text-primary-dark">Más información sobre Reportes</a>
    </article>

    <article class="grid gap-y-4">
      <lucide-icon [name]="TrendingUpDown" class="size-8 stroke-[1.5] text-primary"/>
      <h4 class="font-semibold text-gray-900 max-sm:text-sm">Previsión</h4>
      <p class="text-gray-600 text-sm">Mantener la concentración nos permite convertir cada proyecto que emprendemos en algo que nos apasiona.</p>
      <a href="" class="text-sm text-primary underline underline-offset-4 hover:text-primary-dark">Más información sobre Previsión</a>
    </article>
  </div>

</section>
