<section class="w-full py-20 bg-gray-100">

  <div class="space-y-3 text-center max-w-2xl mx-auto px-5">
    <p class="text-gray-600">Aplicación Escapify</p>
    <h3 class="text-2xl md:text-3xl font-semibold text-gray-900">Descarga la aplicación Escapify. <br> Tu herramienta empresarial imprescindible.</h3>
  </div>

  <div class="mt-20 grid md:flex justify-center gap-10 mx-auto px-5">

    <div class="grid rounded-xl bg-white px-10 py-10 w-full sm:max-w-sm gap-y-5 justify-items-center text-center">
      <img src="https://cdn-icons-png.flaticon.com/512/15/15476.png" alt="Logo iOS" class="size-16 object-contain">
      <h4 class="text-xl font-semibold text-gray-900">iOS App</h4>
      <p class="text-sm text-gray-600">La aplicación Preline es una forma más fácil de trabajar en iOS.</p>
      <a href="" class="text-sm text-primary underline underline-offset-4 hover:text-primary-dark">Versiones previas</a>
      <a href="" class="text-sm flex items-center gap-x-3 group">
        <p>Descargar en App Store</p>
        <lucide-icon [name]="ChevronRight" class="block group-hover:hidden size-4 duration-300" />
        <lucide-icon [name]="ArrowRight" class="hidden group-hover:block size-4 duration-300" />
      </a>
    </div>

    <div class="grid rounded-xl bg-white px-10 py-10 w-full sm:max-w-sm gap-y-5 justify-items-center text-center">
      <img src="https://img.icons8.com/fluent/600/google-play-store-new.png" alt="Logo Google Play" class="size-16 object-contain">
      <h4 class="text-xl font-semibold text-gray-900">Android App</h4>
      <p class="text-sm text-gray-600">La aplicación Preline es una forma más fácil de trabajar en Android.</p>
      <a href="" class="text-sm text-primary underline underline-offset-4 hover:text-primary-dark">Versiones previas</a>
      <a href="" class="text-sm flex items-center gap-x-3 group">
        <p>Descargar en Google Play</p>
        <lucide-icon [name]="ChevronRight" class="block group-hover:hidden size-4 duration-300" />
        <lucide-icon [name]="ArrowRight" class="hidden group-hover:block size-4 duration-300" />
      </a>
    </div>
  </div>
</section>
