<section class="">

  <div class="space-y-3 text-center max-w-2xl mx-auto px-5 mt-20">
    <h3 class="text-2xl md:text-3xl font-semibold text-gray-900">Crea flujos de trabajo increíblemente rápido</h3>
    <p class="text-gray-600">Tanto si eres un profesional independiente como si formas parte de un gran equipo, Preline te permite automatizar tus flujos de trabajo sin esfuerzo y sin necesidad de programar.</p>
  </div>

  <div class="py-20 grid md:grid-cols-2 gap-10">

    <article class="grid grid-cols-2 items-center gap-x-5">
      <div class="bg-gray-100 h-60 max-w-60 relative rounded-xl contain-content">
        <div class="absolute top-6 left-6 size-60 bg-white rounded-lg"></div>
      </div>
      <div class="space-y-3">
        <h4 class="font-semibold text-gray-900">Calendarios</h4>
        <p class="text-gray-500 text-sm">Descubra interfaces de usuario de calendario fáciles de usar, diseñadas tanto para paneles de control como para interfaces de administración.</p>
      </div>
    </article>

    <article class="grid grid-cols-2 items-center gap-x-5">
      <div class="bg-gray-100 h-60 max-w-60 relative rounded-xl contain-content">
        <div class="absolute top-6 left-6 size-60 bg-white rounded-lg"></div>
      </div>
      <div class="space-y-3">
        <h4 class="font-semibold text-gray-900">Calendarios</h4>
        <p class="text-gray-500 text-sm">Descubra interfaces de usuario de calendario fáciles de usar, diseñadas tanto para paneles de control como para interfaces de administración.</p>
      </div>
    </article>

    <article class="grid grid-cols-2 items-center gap-x-5">
      <div class="bg-gray-100 h-60 max-w-60 relative rounded-xl contain-content">
        <div class="absolute top-6 left-6 size-60 bg-white rounded-lg"></div>
      </div>
      <div class="space-y-3">
        <h4 class="font-semibold text-gray-900">Calendarios</h4>
        <p class="text-gray-500 text-sm">Descubra interfaces de usuario de calendario fáciles de usar, diseñadas tanto para paneles de control como para interfaces de administración.</p>
      </div>
    </article>

    <article class="grid grid-cols-2 items-center gap-x-5">
      <div class="bg-gray-100 h-60 max-w-60 relative rounded-xl contain-content">
        <div class="absolute top-6 left-6 size-60 bg-white rounded-lg"></div>
      </div>
      <div class="space-y-3">
        <h4 class="font-semibold text-gray-900">Calendarios</h4>
        <p class="text-gray-500 text-sm">Descubra interfaces de usuario de calendario fáciles de usar, diseñadas tanto para paneles de control como para interfaces de administración.</p>
      </div>
    </article>

    <article class="grid grid-cols-2 items-center gap-x-5">
      <div class="bg-gray-100 h-60 max-w-60 relative rounded-xl contain-content">
        <div class="absolute top-6 left-6 size-60 bg-white rounded-lg"></div>
      </div>
      <div class="space-y-3">
        <h4 class="font-semibold text-gray-900">Calendarios</h4>
        <p class="text-gray-500 text-sm">Descubra interfaces de usuario de calendario fáciles de usar, diseñadas tanto para paneles de control como para interfaces de administración.</p>
      </div>
    </article>

    <article class="grid grid-cols-2 items-center gap-x-5">
      <div class="bg-gray-100 h-60 max-w-60 relative rounded-xl contain-content">
        <div class="absolute top-6 left-6 size-60 bg-white rounded-lg"></div>
      </div>
      <div class="space-y-3">
        <h4 class="font-semibold text-gray-900">Calendarios</h4>
        <p class="text-gray-500 text-sm">Descubra interfaces de usuario de calendario fáciles de usar, diseñadas tanto para paneles de control como para interfaces de administración.</p>
      </div>
    </article>

  </div>

</section>
