<section class="py-20 space-y-5">

  <h3 class="text-2xl md:text-3xl font-semibold text-gray-900 text-center">Compare las características de los planes</h3>

  <!-- Table for SM -->
  <div class="relative hidden sm:block">

    <!-- Header -->
    <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-10 border-b border-gray-200 py-10 sticky top-10 bg-white">
      <div>
        <h4 class="text-lg font-semibold text-gray-900">Características</h4>
      </div>
      <div class="space-y-3">
        <h4 class="text-lg font-semibold text-gray-900">Free</h4>
        <p class="text-xs md:text-sm text-gray-500">Gratis para siempre</p>
      </div>
      <div class="space-y-3">
        <h4 class="text-lg font-semibold text-gray-900">Startup</h4>
        <p class="text-xs md:text-sm text-gray-500">S/. 39 al mes, facturado anualmente</p>
      </div>
      <div class="space-y-3">
        <h4 class="text-lg font-semibold text-gray-900">Team</h4>
        <p class="text-xs md:text-sm text-gray-500">S/. 89 al mes, facturado anualmente</p>
      </div>
      <div class="space-y-3">
        <h4 class="text-lg font-semibold text-gray-900">Enterprise</h4>
        <p class="text-xs md:text-sm text-gray-500">S/. 149 al mes, facturado anualmente</p>
      </div>
    </div>

    <!-- Grid 1 -->
    <div class="grid py-5">
      <h4 class="text-lg font-semibold text-gray-900 my-5">General</h4>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Number of seats</p>
        <p class="py-3 border-b border-gray-200">1</p>
        <p class="py-3 border-b border-gray-200">Up to 3</p>
        <p class="py-3 border-b border-gray-200">Up to 10</p>
        <p class="py-3 border-b border-gray-200">Unlimited</p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Storage</p>
        <p class="py-3 border-b border-gray-200">15 GB</p>
        <p class="py-3 border-b border-gray-200">1 TB</p>
        <p class="py-3 border-b border-gray-200">15 TB</p>
        <p class="py-3 border-b border-gray-200">Unlimited</p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Email sharing</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Any time, anywhere access</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
    </div>

    <!-- Grid 2 -->
    <div class="grid py-5">
      <h4 class="text-lg font-semibold text-gray-900 mb-5">Financial data</h4>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Open/High/Low/Close</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Price-volume difference indicator</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
    </div>

    <!-- Grid 3 -->
    <div class="grid py-5">
      <h4 class="text-lg font-semibold text-gray-900 mb-5">On-chain data</h4>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Network growth</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Average gamzn age consumed</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Exchange flow</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Total ERC20 exchange funds flow</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Transaction volume</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Total circulation (beta)</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Velocity of tokens (beta)</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">ETH gas used</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
    </div>

    <!-- Grid 4 -->
    <div class="grid py-5">
      <h4 class="text-lg font-semibold text-gray-900 mb-5">Social data</h4>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Dev activity</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Topic search</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p class="py-3">Relative social dominance</p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
        <p class="py-3 border-b border-gray-200"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
    </div>

    <!-- Buttons -->
    <div class="grid pt-5">
      <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr] gap-x-5 text-sm">
        <p></p>
        <button class="w-full py-2 px-4 text-sm bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:shadow transition">Empezar <span class="max-lg:hidden">ahora</span></button>
        <button class="w-full btn-primary text-sm hover:shadow transition">Empezar<span class="-ml-1 max-lg:hidden">ahora</span></button>
        <button class="w-full btn-primary text-sm hover:shadow transition">Empezar<span class="-ml-1 max-lg:hidden">ahora</span></button>
        <button class="w-full btn-primary text-sm hover:shadow transition">Empezar<span class="-ml-1 max-lg:hidden">ahora</span></button>
      </div>
    </div>
  </div>
  <!-- End Table for SM -->

  <!-- Table for Mobile -->
  <div class="sm:hidden space-y-5 w-full">

    <!-- General -->
    <div class="grid">
      <h4 class="p-5 font-semibold text-gray-900">General</h4>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Number of seats</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5">1</p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5">Up to 3</p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5">Up to 10</p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5">Unlimited</p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Storage</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5">15 GB</p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5">1 TB</p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5">15 TB</p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5">Unlimited</p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Email sharing</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Any time, anywhere access</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
    </div>
    <!-- End General -->

    <!-- Financial data -->
    <div class="grid">
      <h4 class="p-5 font-semibold text-gray-900">Financial data</h4>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Open/High/Low/Close</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Price-volume difference indicator</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
    </div>
    <!-- End Financial Data -->

    <!-- On-chain data -->
    <div class="grid">
      <h4 class="p-5 font-semibold text-gray-900">On-chain data</h4>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Network growth</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Average gamzn age consumed</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Exchange flow</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Total ERC20 exchange funds flow</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Transaction volume</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Total circulation (beta)</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Total circulation (beta)</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">ETH gas used</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
    </div>
    <!-- End Financial Data -->

    <!-- Social data -->
    <div class="grid">
      <h4 class="p-5 font-semibold text-gray-900">Social data</h4>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Dev activity</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Topic search</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>

      <h4 class="px-5 py-2 text-sm border border-gray-100 bg-gray-100 font-semibold text-gray-900">Relative social dominance</h4>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Free</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Startup</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm border-b border-gray-200">
        <p class="py-2 px-5">Team</p>
        <p class="py-2 px-5"><lucide-icon [name]="Minus" class="text-gray-800 size-5" /></p>
      </div>
      <div class="grid grid-cols-2 gap-5 text-sm mb-5">
        <p class="py-2 px-5">Enterprise</p>
        <p class="py-2 px-5"><lucide-icon [name]="Check" class="text-primary size-5" /></p>
      </div>
    </div>
    <!-- End Social Data -->

  </div>
  <!-- End Table for Mobile -->


</section>
