<section class="py-20 space-y-20">

  <div class="space-y-3 text-center max-w-xl mx-auto px-5">
    <p class="text-gray-600">¿Qué hacemos?</p>
    <h3 class="text-2xl md:text-3xl font-semibold text-gray-900">Desde 2007, hemos ayudado a 2.5k+ empresas a lanzar más de 100k productos increíbles.</h3>
  </div>

  <div class="grid sm:grid-cols-2 px-5 gap-x-10 lg:gap-x-20 gap-y-10 max-w-4xl mx-auto">
    <div class="grid grid-cols-[auto_1fr] gap-5 items-start">
      <lucide-icon [name]="BrainCircuit" class="size-8 stroke-[1.5] mt-0.5 text-primary"/>
      <div class="space-y-2">
        <h4 class="font-semibold text-gray-900">Mentes creativas</h4>
        <p class="text-gray-600 text-sm">Seleccionamos cuidadosamente a nuestros equipos. Nuestro personal es el secreto de nuestro excelente trabajo.</p>
      </div>
    </div>

    <div class="grid grid-cols-[auto_1fr] gap-5 items-start">
      <lucide-icon [name]="Trophy" class="size-8 stroke-[1.5] mt-0.5 text-primary"/>
      <div class="space-y-2">
        <h4 class="font-semibold text-gray-900">Obten resultados</h4>
        <p class="text-gray-600 text-sm">Nos mantenemos ágiles y ayudamos a que tu producto haga bien una cosa.</p>
      </div>
    </div>

    <div class="grid grid-cols-[auto_1fr] gap-5 items-start">
      <lucide-icon [name]="CalendarSync" class="size-8 stroke-[1.5] mt-0.5 text-primary"/>
      <div class="space-y-2">
        <h4 class="font-semibold text-gray-900">Actualizaciones rápidas</h4>
        <p class="text-gray-600 text-sm">Aprovecha las actualizaciones automáticas en todos los tableros cada vez que necesites realizar un cambio en tu sitio web.</p>
      </div>
    </div>

    <div class="grid grid-cols-[auto_1fr] gap-5 items-start">
      <lucide-icon [name]="Component" class="size-8 stroke-[1.5] mt-0.5 text-primary"/>
      <div class="space-y-2">
        <h4 class="font-semibold text-gray-900">Diseñamos para personas</h4>
        <p class="text-gray-600 text-sm">Buscamos activamente el equilibrio adecuado entre funcionalidad y estética, creando experiencias agradables.</p>
      </div>
    </div>

    <div class="grid grid-cols-[auto_1fr] gap-5 items-start">
      <lucide-icon [name]="HandShake" class="size-8 stroke-[1.5] mt-0.5 text-primary"/>
      <div class="space-y-2">
        <h4 class="font-semibold text-gray-900">Gran empatía</h4>
        <p class="text-gray-600 text-sm">Hemos probado nuestro propio proceso con los usuarios enviando más de mil productos a nuestros clientes.</p>
      </div>
    </div>

    <div class="grid grid-cols-[auto_1fr] gap-5 items-start">
      <lucide-icon [name]="CircleQuestionMark" class="size-8 stroke-[1.5] mt-0.5 text-primary"/>
      <div class="space-y-2">
        <h4 class="font-semibold text-gray-900">Mantén la curiosidad</h4>
        <p class="text-gray-600 text-sm">Dedicamos tiempo a la investigación y la experimentación para aumentar la creatividad e imaginar nuevos retos.</p>
      </div>
    </div>
  </div>
</section>

