<section class="w-full bg-white rounded-xl border border-gray-200 contain-content">

  <!-- Header -->
  <div class="grid grid-cols-[1fr_auto] gap-x-3 items-center justify-between px-5 py-3 border-b border-b-gray-200">

    <!-- Titulo -->
    <h3 class="font-medium">
      {{ selectedCategory.name }}
    </h3>

    <button class="text-xs flex items-center gap-x-1 font-medium p-2 border border-gray-200 rounded-lg hover:bg-gray-50 hover:shadow">
      <span>25 Jul - 25 Ago</span>
      <lucide-icon [img]="ChevronDown" class="size-4 stroke-[1.5]"/>
    </button>
  </div>

  <!-- Contenido -->
  <div class="grid lg:grid-cols-[1fr_auto] lg:min-h-[22rem]">


    <!-- Chart -->
    <div class="w-full min-h-80 -ml-1 sm:ml-1 pt-2 sm:pt-4 sm:pr-4 ">

      <div id="hs-single-bar-chart"></div>

    </div>


    <!-- Resumen -->
    <div class="xl:w-sm px-5 pt-3 pb-5 space-y-5 max-lg:border-t max-lg:border-t-gray-200 lg:border-l lg:border-l-gray-200">

      <!-- Header -->
      <div class="border-b border-b-gray-200 flex gap-x-5">

        @for (category of categories; track $index) {
          <button type="button"
            (click)="selectCategory(category.name)"
            class="border-b-2 px-0 py-2 text-sm"
            [ngClass] = "{
              'text-primary': category.isActive,
              'border-b-primary': category.isActive,
              'border-b-transparent': !category.isActive
            }"
          >
            {{ category.name }}
          </button>
        }
      </div>

      <!-- Content -->
      <div class="space-y-3">

        @if (selectedCategory.name == "Empresas") {
          <h3 class="text-2xl font-semibold">{{ quantityDisplay }}</h3>
        }
        @if (selectedCategory.name == "Sucursales") {
          <h3 class="text-2xl font-semibold">{{ quantityDisplay }}</h3>
        }
        @if (selectedCategory.name == "Ventas") {
          <h3 class="text-2xl font-semibold">{{ quantityDisplay | currency:'S/. ' }}</h3>
        }

        <!-- Ranger Slide -->
        <div class="w-full bg-gray-300 relative rounded-full py-1">
          <div
            class="bg-primary absolute py-1 rounded-l-full top-0 transition-all duration-300 ease-out"
            [style.width.%]="progressPercentage">
          </div>
          <div
            class="py-2 rounded-full bg-primary w-[10px] border-2 border-white absolute top-[-5px] transition-all duration-300 ease-out"
            [style.left.%]="progressPercentage">
          </div>
        </div>

        <div class="text-xs flex items-center justify-between">
          @if( selectedCategory.name == "Empresas") {
            <p>{{ selectedCategory.minRange }}</p>
            <p>{{ selectedCategory.maxRange }}</p>
          }
          @if( selectedCategory.name == "Ventas" || selectedCategory.name == "Sucursales") {
            <p>{{ selectedCategory.minRange | currency:'S/. '  }}</p>
            <p>{{ selectedCategory.maxRange | currency:'S/. ' }}</p>
          }
        </div>

        <p class="text-xs text-gray-500">Un desglose de información detalla de {{ selectedCategory.name.toLowerCase() }} realizados.</p>
      </div>

      <!-- Boton de mostrar estadísticas -->
      <a routerLink="{{ selectedCategory.link }}"
        class="grid grid-cols-[auto_1fr_auto] items-center gap-x-3 hover:bg-gray-100 rounded-md p-2 text-sm">

        <div class="p-1 rounded-md border border-gray-300 bg-white">
          <lucide-icon [img]="ChartColumn" class="size-4 text-primary"/>
        </div>

        <p class="text-xs font-medium">Mostrar Panel de Estadísticas</p>

        <lucide-icon [img]="ChevronRight" class="size-4 text-gray-500"/>
      </a>
    </div>
  </div>

</section>
