<div class="grid gap-5">

  <section class="w-full border border-gray-200 bg-white rounded-xl">
    <div class="border-b border-gray-200 px-5 py-3">
      <h2 class="font-medium text-sm">Horarios de Atención</h2>
    </div>

    <div class="p-5">
      <ul class="space-y-2">
        <li class="flex items-center gap-2 text-sm">
          <span class="text-gray-600">Lunes a Viernes:</span>
          <span class="font-medium">9:00 AM - 6:00 PM</span>
        </li>
        <li class="flex items-center gap-2 text-sm">
          <span class="text-gray-600">Sábado:</span>
          <span class="font-medium">10:00 AM - 2:00 PM</span>
        </li>
        <li class="flex items-center gap-2 text-sm">
          <span class="text-gray-600">Domingo:</span>
          <span class="font-medium">Cerrado</span>
        </li>
      </ul>
    </div>
  </section>

  <section class="w-full border border-gray-200 bg-white rounded-xl">
    <div class="border-b border-gray-200 px-5 py-3">
      <h2 class="font-medium text-sm">Zonas de Cobertura</h2>
    </div>

    <article class="divide-y divide-gray-200">
      <div class="flex items-center gap-3 p-5">
        <lucide-icon [name]="Truck" class="size-7 stroke-[1.5]" />
        <div>
          <h3 class="font-medium text-sm">Zona 1</h3>
          <p class="text-xs text-gray-600 line-clamp-2">Dirección específica o descripción de la zona 1.</p>
        </div>
      </div>
      <div class="flex items-center gap-3 p-5">
        <lucide-icon [name]="Truck" class="size-7 stroke-[1.5]" />
        <div>
          <h3 class="font-medium text-sm">Zona 1</h3>
          <p class="text-xs text-gray-600 line-clamp-2">Dirección específica o descripción de la zona 1.</p>
        </div>
      </div>
    </article>
  </section>

  <section class="w-full border border-gray-200 bg-white rounded-xl">
    <div class="border-b border-gray-200 px-5 py-3">
      <h2 class="font-medium text-sm">Métodos de Pago</h2>
    </div>

    <article class="divide-y divide-gray-200">
      <div class="p-5 flex items-center gap-x-3">
        <lucide-icon [name]="HandCoins" class="size-7 stroke-[1.5]" />
        <div class="w-full">
          <h3 class="font-medium text-sm">Efectivo</h3>
          <p class="text-xs text-gray-600 line-clamp-2">Paga en efectivo al momento de recoger tu pedido.</p>
        </div>
        <p class="text-xs leading-none font-semibold text-white p-2 rounded-lg bg-primary">Gratis</p>
      </div>
      <div class="p-5 flex items-center gap-x-3">
        <img src="https://logosenvector.com/logo/img/yape-37283.png" alt="Logo Yape" class="w-7 h-7 object-contain" />
        <div class="w-full">
          <h3 class="font-medium text-sm">Yape</h3>
          <p class="text-xs text-gray-600 line-clamp-2">Paga con Yape al momento de recoger tu pedido.</p>
        </div>
        <p class="text-xs leading-none font-semibold text-white p-2 rounded-lg bg-primary">Conectar</p>
      </div>
      <div class="p-5 flex items-center gap-x-3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Stripe_Logo%2C_revised_2016.svg/1280px-Stripe_Logo%2C_revised_2016.svg.png" alt="Logo Yape" class="w-7 h-7 object-contain" />
        <div class="w-full">
          <h3 class="font-medium text-sm">Stripe</h3>
          <p class="text-xs text-gray-600 line-clamp-2">Paga con Stripe al momento de recoger tu pedido.</p>
        </div>
        <p class="text-xs leading-none font-semibold text-white p-2 rounded-lg bg-primary">Conectar</p>
      </div>
    </article>

  </section>

</div>
