<section class="flex items-center flex-col gap-3 my-10">
  <p class="text-center text-gray-600">Empieza ahora</p>

  <h3 class="text-2xl md:text-3xl font-semibold text-center text-gray-900 ">
    La aplicación web que <br> impulsa a miles de empresas.
  </h3>

  <div class="flex items-center justify-center gap-x-5 mt-5">
    <a href="/probar" class="btn-primary text-sm !px-3 !py-2">Probar ahora</a>
    <a href="/demo" class="text-sm hover:underline hover:text-primary transition font-semibold">Ver demo</a>
  </div>

</section>
