<section class="flex flex-col gap-y-3">

  <!-- Buttons -->
  <div class="flex items-center gap-x-1 overflow-x-auto scrollbar-hide">
    <button class="text-[13px] text-gray-900 rounded-full flex items-center gap-x-2 px-3 py-2 bg-gray-200">
      <lucide-icon [name]="LucideChartNoAxesCombined" class="size-4" />
      <p>Dashboard</p>
    </button>
    <button class="text-[13px] text-gray-900 rounded-full flex items-center gap-x-2 px-3 py-2 hover:bg-gray-100">
      <lucide-icon [name]="BriefcaseBusiness" class="size-4" />
      <p>Workspace</p>
    </button>
    <button class="text-[13px] text-gray-900 rounded-full flex items-center gap-x-2 px-3 py-2 hover:bg-gray-100">
      <lucide-icon [name]="Wallet" class="size-4" />
      <p>Payment</p>
    </button>
    <button class="text-[13px] text-gray-900 rounded-full flex items-center gap-x-2 px-3 py-2 hover:bg-gray-100">
      <lucide-icon [name]="ChartPie" class="size-4" />
      <p>Analytics</p>
    </button>
    <button class="text-[13px] text-gray-900 rounded-full flex items-center gap-x-2 px-3 py-2 hover:bg-gray-100">
      <lucide-icon [name]="MessagesSquare" class="size-4" />
      <p>Messages</p>
    </button>
    <button class="text-[13px] text-gray-900 rounded-full flex items-center gap-x-2 px-3 py-2 hover:bg-gray-100">
      <lucide-icon [name]="ShoppingBag" class="size-4" />
      <p>Ecommerce</p>
    </button>
  </div>

  <!-- Preview -->
  <div class="border border-white rounded-xl bg-white/40 w-full p-2 md:p-4 flex flex-col shadow-xl">
    <div class="flex items-center gap-x-2 px-3">
      <div class="w-3 h-3 bg-red-500 rounded-full"></div>
      <div class="w-3 h-3 bg-yellow-500 rounded-full"></div>
      <div class="w-3 h-3 bg-green-500 rounded-full"></div>
    </div>

    <div class="w-full h-full flex items-center justify-center rounded-lg mt-3 bg-white overflow-hidden">
      <img src="https://preline.co/assets/img/pro/startup/img1.webp"
        alt=""
        class="w-full" />
    </div>
  </div>

</section>
