<nav class="w-full">

  <div class="flex items-center max-w-[70rem] gap-x-14 mx-auto px-5 py-4">

    <!-- Logo -->
    <a href="/" class="h-6.5 flex items-center">
      <img
        src="/img/logo.png"
        alt="Logo Escapify"
        class="h-full"
      >
    </a>

    <!-- Navigation Links -->
    <ul class="flex space-x-6 max-md:hidden">
      <a href="/" class="text-sm hover:underline hover:text-primary transition">Inicio</a>
      <a href="/servicios" class="text-sm hover:underline hover:text-primary transition">Servicios</a>
      <a href="/precios" class="text-sm hover:underline hover:text-primary transition">Precios</a>
      <a href="/clientes" class="text-sm hover:underline hover:text-primary transition">Clientes</a>
    </ul>

    <!-- User Actions -->
    <div class="ml-auto flex items-center gap-x-2 md:gap-x-6">
      <a href="/demo" class="text-sm hover:underline hover:text-primary transition max-md:hidden">Demo</a>
      <a href="/ingresar" class="text-sm hover:underline hover:text-primary transition">Ingresar</a>
      <a href="/probar" class="btn-primary text-sm !px-3 !py-2 max-md:ml-2">Probar</a>

      <!-- Menu Responsive -->
      <button class="!px-2 !py-2 border border-gray-300 rounded-lg hover:bg-gray-100 transition max-md:block hidden">
        <svg class="w-4.5  stroke-[1.5]" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      </button>
    </div>

  </div>

</nav>
