<section class="rounded-xl border border-gray-200 p-5 shadow-xs">

  <h2 class="text-sm font-semibold mb-5">Conexiones</h2>

  <!-- Tabla de conexiones del usuario -->
  <div class="overflow-x-hidden hover:overflow-x-auto">
    <div class="min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="min-w-full divide-y divide-white ">
          <thead>
            <tr class="text-xs uppercase bg-gray-100">
              <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-start">Scope</th>
              <th scope="col" class="px-6 py-3 text-nowrap font-semibold text-start">Roles</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr>
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">ESCAPIFY</td>
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">Ninguno</td>
            </tr>
            <tr>
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">EMPRESA</td>
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">Ninguno</td>
            </tr>
            <tr>
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">SUCURSAL</td>
              <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">Ninguno</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>
