<section class="grid sm:grid-cols-2 xl:grid-cols-4 gap-4">

  <!-- Total de empresas -->
  <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow">
    <div class="flex text-sm text-gray-600 items-center justify-between">
      <h3>Total de Empresas</h3>
      <lucide-icon [img]="Store" class="size-5 stroke-[1.5]" />
    </div>

    <div class="space-y-1">
      <p class="font-medium text-xl">1631 <span class="text-sm mr-2">empresas</span></p>
      <p class="text-xs text-gray-500 line-clamp-1">2 nuevas este mes</p>
    </div>
  </article>

  <!-- Total de sucursales -->
  <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow">
    <div class="flex text-sm text-gray-600 items-center justify-between">
      <h3>Total de sucursales</h3>
      <lucide-icon [img]="MapPinHouse" class="size-5 stroke-[1.5]" />
    </div>

    <div class="space-y-1">
      <p class="font-medium text-xl">2310<span class="text-sm"> sucursales</span></p>
      <p class="text-xs text-gray-500 line-clamp-1">6 nuevas este mes</p>
    </div>
  </article>

  <!-- Total de ingresos -->
  <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow">
    <div class="flex text-sm text-gray-600 items-center justify-between">
      <h3>Total de ingresos</h3>
      <lucide-icon [img]="CreditCard" class="size-5 stroke-[1.5]" />
    </div>

    <div class="space-y-1">
      <p class="font-medium text-xl">S/. 2356<span class="text-sm">.29</span></p>
      <div class="flex items-center gap-x-1 text-green-600">
        <lucide-icon [img]="TrendingUp" class="size-4" />
        <p class="text-xs line-clamp-1 font-medium">+40% este mes</p>
      </div>
    </div>
  </article>

  <!-- Total de usuarios -->
  <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200 shadow">
    <div class="flex text-sm text-gray-600 items-center justify-between">
      <h3>Total de usuarios</h3>
      <lucide-icon [img]="UserPlus" class="size-5 stroke-[1.5]" />
    </div>

    <div class="space-y-1">
      <p class="font-medium text-xl">1,263 <span class="text-sm">usuarios</span></p>
      <p class="text-xs text-gray-500">235 nuevos este mes</p>
    </div>
  </article>


</section>
