
<section class="py-20">
  <div class="flex flex-col items-center justify-center gap-y-7 h-full text-center">
    <p class="text-gray-600">Clientes</p>
    <h3 class="text-3xl md:text-5xl text-balance font-bold text-gray-900">Cómo utilizan Escapify las principales empresas tecnológicas</h3>
    <p class="text-gray-900 text-balance px-5 max-md:text-sm">Descubra cómo las principales empresas tecnológicas optimizan el desarrollo y el diseño con las potentes herramientas y componentes de interfaz de usuario de Escapify.</p>
  </div>
</section>
